.area {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 30px 20px;
}

.area label input {
  display: none;
}

.cit-mange {
  display: grid;
  grid-template-columns: repeat(2, auto) !important;
  height: fit-content !important;
  grid-gap: 0px;
  cursor: pointer;
}
.area label input + span {
  background: #fff;
  border-radius: 5px;
  color: #000;
  padding: 8px 18px;
  margin-right: 10px;
  transition: 0.3s;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  background-color: rgb(237, 237, 14);
  box-shadow: 2px 3px 5px rgb(92, 146, 92);
  color: green;
}

.area label input:checked + span {
  background: #2db408;
  color: #fff;
}
.container_proud {
  height: 80vh;

  overflow: auto;
}

.container_proud::-webkit-scrollbar {
  display: none;
}
.header_logo {
  border: 1px solid black;
  border-radius: 20px;
}
.valudwidth {
  width: fit-content !important;
}
@media (max-width: 767px) {
}
